:root {
  --hangar-blue: #385475;
  --hangar-pink: #EA4C89;
  --hangar-grey: #d4d4d4;
  --hangar-grey-light: #E2E2E2;
  --hangar-white: #FAFAFB;
  --hangar-dark: #464E5B;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

body {
  height:100% !important;
  width: 100% !important;
  background-color: var(--hangar-grey);
  font-family: 'Poppins', sans-serif;
  color: #212529;
  overflow: scroll;
  scrollbar-color: #EA4C89 #464E5B;
  padding:0px;
  margin:0px;
}

.text-blue {
  color: var(--hangar-blue);
}
.text-pink {
  color: var(--hangar-pink);
}
.text-default {
  color: #212529;
}

a.text-pink {
  text-decoration: none;
  color: var(--hangar-pink);
}
a.text-pink:hover {
  text-decoration: none;
  color: #B22B5F;
}

.bg-hangar {
  background-color: var(--hangar-blue);
}

.bg-blue {
  background-color: var(--hangar-blue);
}
.bg-pink {
  background-color: var(--hangar-pink);
}
.bg-grey {
  background-color: var(--hangar-grey);
}
.bg-grey-light {
  background-color: var(--hangar-grey-light);
}
.border-hangar-blue {
  border-bottom-color: #43658C !important;
}

.header-height {
  height:250px;
}

.into-header {
  margin-top: -100px;
}

.hanagar-header-text {
  font-weight: bold;
}

.text-header-small {
  font-size: .875em;
  color: #D3D5D4;
  font-weight: 300;
  margin-left:10px;
}

.numbers {
  margin-top: -10px;
  font-size: 1.8rem;
  font-weight: bolder;
  color: var(--hangar-pink);
}

.page-title {
  font-weight: 400;
  color: var(--hangar-blue);
}

.btn-pink {
  background-color: var(--hangar-pink);
  border-color: #B22B5F;
  color: var(--hangar-white);
}

.list-border {
  border-bottom: 1px dotted var(--hangar-grey);;
}